h3 {
    border: 1px solid black;
}

#dois {
    position: fixed;
    background-color: #ddd;
    left: 0px;
    top: -20px;
}

div {
    border: 1px solid red;
    position: relative;
    height: 1000px;
}