img {
    border: none;
}


/*a {
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    border: 1px solid black;
    width: 100px;
    display: block;
    padding: 3px 5px;
}

a:hover {
   text-decoration: underline;
    color: #ddd;
    background-color: #000;
}*/