* {
    color: #006699;
}

p {
    color: #0000cc;
}

.destaque {
    color: #cc0000;
}

.detalhe {
    text-decoration: underline;
}

#introducao {
    background-color: #ffcc33;
}

em[title=Empresa] {
    color: #336600;
    font-size: 30px;
}